h2 {
    margin-bottom: 10px;
}

#content {
    width: 430px;
    padding: 5px;
}

.comment__content {
    overflow-wrap: break-word;
}

#sendComment {
    margin-bottom: 20px;
}

.box__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(10,10,10,.1);
    padding-bottom: 5px;
}

.box__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.box__footer .fa-warning {
    margin-right: 3px;
}

.control__select {
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 5px;
}

.notification:not(:last-child) {
    margin-bottom: 10px;
}

button.icon {
    background: none;
    border: none;
    padding: 0;
}

.hyphenate {
    word-break: break-all;
    hyphens: auto;
}

.validation {
    padding: 5px;
}

.discussion {
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.discussion svg {
    position: absolute;
}

.discussion__content {
    padding-left: 25px;
    margin-bottom: 5px;
}

.button--right {
    margin-left: auto;
}